<h1>Ad Astra</h1>
<h3>"To the Stars"</h3>
<h4>by Dave Menconi</h4>
<p>The purpose of this page is to explore a bit of science and use Python to do it. Along the way, we'll get to talk about simulations. Initially our simulations will be naive (that is, "wrong") but gradually they'll take more and more into account until, hopefully, we'll come up with a fairly accurate answer.

<p>The question I'd like to explore is how far away is the nearest star (Proxima Alpha)? 4.2 light years is the answer, but what does that mean in human terms? How long, for example, would it take me to fly there in a space ship?

<p>This is a bit of a complicated question (How big is your spaceship? What is its propulsion system? How many people will there be? How much food & water do they need? How much power will they consume? Etc, etc, etc.) so we're going to simplify it. We're going to simplify it so much, in fact, that the answers we're going to get won't be very accurate. But we'll work on it and maybe come up with some answers that are reasonably close.

<p>We are not, actually, going to fly to the nearest star. That would take a long time and I have to go to work tomorrow. We're going to simulate flying to the star. Simulations always have to pick and choose which things they are accurate about and which things they ignore. The weather forecast, for example, is based on a simulation that looks very closely at what air is doing and it tends to be pretty good at telling you whether Wednesday will be clear. But it won't tell you whether you will be enjoying that clear evening with a friend or be by yourself. The forecast does not take into account the astrological chart for the day in question because it is not deemed to be relevant.

<p>You have to pick and choose which things to simulate. The more complete your simulation the more things it will tell you about a situation. Drawing a clear box around what we're interested in and what we don't care about it is the first step in making a good simulation.

<p>In our case, we just want to get a sense of how long it will take to get to Alpha Proxima. We're going to assume (maybe "pretend" would be a better word here, since we know these things to be untrue) that the Earth and the star are fixed points that are 4.2 light years apart and that we can accelerate continuously toward the star at one G.

<p>This is pretty convenient because we will experience this acceleration as "gravity" toward the bottom of the ship. This means we can sit in chairs, sip water out of normal cups and be able to stand up and walk around for the entire trip. We might think of this as "artificial" gravity but Einstein told us that it's indistinguishable from "real" gravity in every way -- except of course that there is no planet. This sort of suggests that a planet is accelerating in all directions at once which is, of course, absurd.

<P>This also means that we'll go faster and faster the whole way which is good for space flight and will make for the shortest possible trip.

<p>In our simulation we have a thing (our space ship) moving through space. This will require us to use Newton's Law of Motion. I'll spare you the details on that (you're on the web so you can find out if you are interested) and just say that our space ship will always have a locaion between here and Alpha Proxima. That location will change over time because of our velocity. I already said that we're going to accelerate at 1 G which means that our velocity will change over time.

<p>That's pretty much an outline of the whole simulation:
<p>At time zero we are at position 0 (Earth), and velocity zero. We immediately start accelerating at 1 G (which happens to be about 9.8 meter per second per second).

<p>So in the first second (second 0) we add the acceleration to the speed and the speed to position. At time 1 (1 second after the start), our location will be 9.8 meters from Earth, our velocity will be 9.8 meters per second, and we'll still be accelerating at 9.8 meters per second per second. We keep doing that and we'll gradually pick up speed, second by second, until we're going a ferocious speed and very far from Earth.

<p>Here is the code (in Python) that simulates this:
<pre>
<a href=adastrasim1.py>adastrasim1.py</a>
Result: Time: 1044.77 days       Position: 4.2 Light Years out of 4.2    Vel: 2.945 Fraction of Speed of Light
</pre>
<p>That's pretty much it: it's a very simple simulation. But it shows all the elements of a simulation:
<ol>
<li>Set up of the initial conditions
<li>Some stuff you do every simulation step
<li>Some reporting on the status of sim (too much and you're overwhelmed, too few and you don't know what's going on)
<li>An end condition (be careful: make sure you will actually meet that condition; notice I didn't say "Poisition == Destination" because we will probably never get to that point exactly.
<li>A final print out.
</ol>
<p> You might wonder why it's so slow. We're printing out the simulation every 90 days or so and during that time we have to do about 777,600 calculations. in some computer languages and on some computers this could be really fast but only a normal computer, running in Python, not so much. We don't really need to do this every SECOND (we'd probably get the same answer if we did it every HOUR, for example) but I'm used to doing it this way and it has the advantage of making all the calculations simpler (if you switch it to every hour it will run 3600 times faster but you'll have to remember to multiply everything by 3600 -- but be careful not to multiple things twice). On the whole I think this is better and it gives it a kind of dramatic flair. Personally, if I wanted to speed it up, I'd code in C; the translation from Python to C would be pretty easy (the way I've coded this every Python line has a equivelent line in C) and the result would be really fast.

<p>I show the final print out below the link to code. I strongly recommend that you look at the code; this will get more complicated every time but if you take a quick look, you should understand it.

<p>We reach Alpha Proxima in 1045 days which is about 2.8 years! You can imagine being in a ship for 3 years. That sounds very possible!

<p>But there is one little problem.

<p>We're moving really, really fast: about 3 times the speed of light. This is a bit problematic since it's impossible (maybe "problematic" is a bit of an understatement). One of the major breakthroughs that Einstein made was to prove that nothing physical could move faster than the speed of light. There is no way to get around this "speed limit" today, nor is there any prospects for how you might do it in the future. There is simply no theory or idea that would suggest we can go faster than light in our spaceship.

<p> There is a theory (somewhat speculative, I think) that black holes might come in pairs and be connected. Maybe you can move from one to the other faster than the speed of light -- or maybe you can't. But even if you <em>could</em> go from one to the other faster than the speed of light (and some scientists say this is impossible) entering a black hole would tear you and your ship apart so what comes out at the other end would be incoherent radiation, not a ship.

<p>For our second simulation, then, let's keep our speed limit below the speed of light. We'll just stop accelerating when we hit the speed of light.

<p>I should mention that Einstein didn't just say "sorry, you can't go faster than light", he had a whole system of motion that replaces Newtonian motion. It only affects motion when you're going pretty fast, but we're going really fast so it will affect us. Our 2nd simulation will be pretty much as wrong as our first simulation but we're not ready to go the Whole Einstein.


<pre>
This is the second simulation: <a href=adastrasim2.py>adastrasim2.py</a>
</pre>
<p>After we run it the print out at the end says
<pre>Time: 1715.96 days       Position: 4.2004 Light Years out of 4.2 LY      Vel: 1.0 of the Speed of Light</pre>
<p>1716 days is 4.7 years so that little change added almost 2 years! But maybe you could spend 5 years in a spaceship even though 4 of those years were in free fall. And at the end of the trip you get a close look at a new star!

<P> Well, maybe not such a close look. We're moving at the speed of light so we won't be hanging around in the system long. Worse than that, after we get to the new star, we'll be thinking about going home. It took us a whole year to get up to the speed of light so it will take us a year to stop and then another year to get back up to the speed of light. And then when we get home, we'll be going the speed of light. Not much of a home-coming.

<P>We need a new strategy. Being a fan of Science Fiction, I've often read of a better solution: we accelerate the ship up to the speed of light (although only the worst unscientific hack would write of a ship that, like ours, travels AT the speed of light), travel for a while at that speed, then we decelerate for the rest of the way. Since space ships usually have engines on one side only (the "back") the ships usually turn around and, even though they are still moving at tremendous speed backwards, they blast their engines against the direction of travel and gradually slow down.

<P>This also means that the "artificial" gravity that I mentioned earlier would be in the same direction. Imagine how inconvenient it would be to have engines in the front and then, when you turn them on for half of the journey "up" becomes "down". All your chairs and beds and counter spaces are now hanging from the previous ceiling and you're standing on the floor that used to the be ceiling. I suppose the solution would be to have all the furniture be movable -- before you turn on the engines in front, you move all the chairs and beds and tables to the ceiling and fix them there. Then when the engines turn on that becomes "down".

<P> We avoid all this, as I said, by simply flipping the ship around. We would probably put jets on each side of the ship in the back to push the back side and get the ship rotating ("yawing" I think is the technical term) and then firing the oposite jets to stop the rotation when we're pointing the right way.

<P>Our plan still has one problem. For the first year, we'll have gravity and for the last year we'll have gravity. But in the middle -- certainly more than 2 years, possibly a LOT more -- we'll have no gravity at all. All that furniture that was so useful in 1 G will be useless in zero G. Maybe we sill want removable furniture after all and we just take it all away and store it. Suddenly our cramped spaceship is has huge amounts of space in it since we can use the upper half as well as the lower half that we usually use. Of course, suddenly, nothing stays where we put it so all that extra space might be filled with bins or cupboards that have locking lids on them.

<P>When should we turn the ship around? We want to start slowing down at a point where we will reach zero velocity at our destination. If we turn aorund too soon, we'll stop short of our targt; too late and we'll zip right past the star.

<P>We know it will take the same amount of time to decelerate that it took us to accelerate but we don't know how long it will take to get to our destination so we don't know how much time is left in the journey. What we DO know is how <em>far</em> we have to go and how far we've come. If we note the distance we've come when we attain the speed of light, we can then start to decelerate when we get that far away from our destination.

<P>We have to be a little careful about the end point since we might get to zero a little before our destination so we have to detect that case.

<pre>
Here's the third simulation: <a href=adastrasim3.py>adastrasim3.py</a>
Final situation:
Time: 1893.33 days       Position: 4.2 Light Years out of 4.2 LY         Vel: -0.0 of the Speed of Light
</pre>
<P> Now it takes 5 years. We don't exceed the "speed limit" and we arrive at or destination stopped. Not bad.

<P>But still not very good, truth be told. We've claimed that we can accelerate our ship at 1G for about 2 years without actually explaining how we would do that. Usually rocket engines burn fuel and accelerating for two years is going to burn a LOT of fuel. "No problem," you say, "just bring the fuel along!" But that IS the problem: if we carry all that fuel it makes us heavier and the heavier we are the harder it is to accelerate.

<P>Let's break this down. First off, we have the weight of our spaceship -- the structure itself. I think of it as an oversized RV so we can place it's total mass at about 30,000 kg. This is probably absurdly light but I'm going to further suggest that this "Magic RV" also contains all the food and water and oxygen that we will need for our 10 year space journey. Let's put a pin in the fact that we'd need a lot more mass than that just to have a spaceship that could survive in outer space and come back to it in a future simulation. For now, let's just say 30,000 kg.

<P> Second, we need fuel for our engines. Enough to accelerate our Magic RV at 1G for 2 years. How much fuel is that? We don't quite have enough information to tell yet because it depends on a value I'm going to call "engine efficiency". The more efficient our engine, the less fuel we'll need.

<P>Rocket engines work by throwing stuff behind them. Imagine you're suspended in a hot air baloon and there is no wind. You have a pile of rocks in the balloon so you decide to propell youself forward by throwing the rocks behind you. Throwing a rock backwards applies a forward force on your balloon so each rock will accelerate you a bit forward. How much it will accelerate you forward depends on 3 things: how heavy the balloon is, how heavy the rock is and how hard to you throw it. These last 2 values are captured by the equation F=MV or "force equal mass times velocity" (and here is where we dig into Newton's law of motion). If  you select a rock that's twice as heavy it will accelerate you twice as fast. If you throw it twice as hard it will accerate you foward twice as fast, too.

<P>So what I want you to do is stand at the back of the spaceship and throw rocks out the back. Or maybe we could rig a machine to throw them: maybe a giant slingshot. Or maybe we could build a jet engine and burn fuel that is then thrown backwards and propells us forward. How much fuel it can burn a second (how much mass of fuel that is) and how fast it can shoot that fuel out the back will determine how much force it can impart.

<P> Here's the interesting thing though: how much acceleration you get for this force depends on the mass of our space ship. And since we've decided to carry our fuel with us, we have to include the mass of the fuel in the total mass of our space ship.

<P>But we're throwing that fuel out the back (ok, we BURN the fuel and push the gasses out the back but it's the same idea) so the mass of the fuel left is constantly changing. How fast is it changing? It depends on how fast we push the fuel out the back.

<P>The amount of fuel we need basically depends on how efficiently we can use that fuel. What do we know? We know we have a 30,000kg space ship with some amount of fuel at the start and, right from the start, we want to accelerate at 1 G (9.8 m/s/s).

<P>Let us imagine, for the sake of argument, that we have the engine from the Saturn V rocket which was an F-1 (the Saturn V had 5 F-1s). I believe the F-1 is the biggest liquid fueled engine ever flown ("The Rocketdyne-developed F-1 engine is the most powerful single-nozzle liquid-fueled rocket engine ever flown." -- Wikipedia). There have been larger solid fuel engines but they are only ~50% larger (not hundreds of times larger) and you can't refuel them. Our plan is to refuel when we get to the star (although how that will work, I have no idea).

<P>The key specification of this engine for our purposes is: "Each second, a single F-1 burned 5,683 pounds (2,578 kg) of oxidizer and fuel: 3,945 lb (1,789 kg) of liquid oxygen and 1,738 lb (788 kg) of RP-1, generating 1,500,000 lbf (6.7 MN) of thrust." -- Wikipedia (I included that sentence verbatim so you can go back and think about what it's saying: that engine burns 2 TONS of fuel plus 2 TONS of oxygen every SECOND). Note that an F-1 weighs about 8000 kg so our Magic RV is now 38,000kg. Again, we're going to push on this RV with a MILLION pounds of thrust which would squash a normal RV -- think "Godzilla vs Bambi" -- but ours is made of sterner stuff. it's Magic!


<P>The rest is just arithemetic. We know that we're going to need to use our engines for about 2 years so we're going to need enough fuel to burn 2578 kg of material (in this case a mix of fuel and oxidizer) every second for 2 years. There are 31,536,000 seconds in a year so we're going to need 8.1299808E10 kgs of fuel. Our total mass will be, let's see 3.8e4 plus 8.13e10 is, um, 8.13e10. Go ahead and throw a few more steaks in there, if you like, it won't make much difference. And here you see why I'm not much concerned about the absurd low weight of my RV: it WILL make a difference when I add in all the weight of the stuff we really need but compared to 8e10kg our Magic RV's weight just insn't important.

<P>How fast can a single F-1 accelerate our spaceship? 8.24e-5m/s/s. That is, rougly 1/100,000 of a gravity. We could put 100,000 F-1s on our Magic RV but all that means is that we'll burn fuel 100,000 times faster and so we'll need 100,000 times as much fuel and we'll be right back where we started.

<P>I'm afraid we need a magic engine to go with our Magic RV. Just for fun, let's imagine that we had an engine 50,000 times more efficient. That is, it must generate 50,000 times more force for the same amount of mass. How would it do this? Well, the amount of force an engine puts out is the mass times the speed of it comes out. Since we're using the same amount of mass, we have to push the mass out 50,000 times faster. If I did my math right, the F-1 engine pushed it's fuel out at 2600 m/s which is around mach 7 (7 times the speed of sound). 50,000 times that fast is 40% of the speed of light. In some theoretical sense you could build a huge engine that could accerate things to 40% of the speed of light and throw them out the back of a spaceship but it would use up and ENORMOUS amount of energy. While it might be possible, it's not practical and you'll never see an engine like that. So we'll have to stick with "well, it's a magic engine" and leave it at that.

<P>Given that our puny human technology can't get us what we really want we're going to have to change our mission profile again. Even 50,000 more efficient than the most powerful engine ever built will only get it to an acceleration of 4.12 m/s/s which is only .42 G. That's more than the moon and certainly enough to keep the chairs on the floor but we won't get going as fast. We could accelerate for longer but then we'd need more fuel and that would slow down our acceleration even further.


<P>Just to recap: we have to go <em>so far</em> that we need to get going <em>very fast</em> to get there in a reasonable time. To get going very fast we need <em>a lot</em> of acceleration. Since acceleration is faster with more force and slower with more mass, we need to mimimize our mass while maximizing the force or our engines.
<P> And this is the heart of the problem: the more force we use the more fuel we need; the more fuel the more mass and the less acceleration.

<P>What will the profile for this trip be.


<pre>
The fourth simulation: <a href=adastrasim4.py>adastrasim4.py</a>
Final situation:
</pre>
